[runtime]
environment="development"
loglevel="info"

[server]
host="localhost"
port="3000"
baseURL="http://localhost:3000"
certs="./env/certs"
certProvider="none"
shutdownTimeout="3s"
assetsDir="./assets"
templatesDir="./templates"
csrfAuthKey="Iamcsrftokenkey"
rememberFor="86400"
cookieStoreSecret="08SY058118B4DN7adZr5a77Omvp6v1vA"
cookieMaxAge="600"
encKey = "e6f4d3a52310beea7e6dcf465ab0243ff9a8d3fd66c2d076853a5fa5b89dbe6c"

[csrf]
secure="false"
secret="test"

[api]
url="localhost:8082"
api="localhost:8082"

[urls]
error="https://127.0.0.1:3000"
url="http://127.0.0.1:3000"
baseURL="http://127.0.0.1:3000"

[database]
host="127.0.0.1"
port="5434"
user="root"
password="secret"
dbname="pfdb"
migrationDir="migrations/sql"
sslMode="disable"
connectionTimeout="30000"
statementTimeout="30000"
idleInTransactionSessionTimeout="30000"